<center>
  <fieldset>
    <legend>Interview Management System</legend>
    <table id="customers">
      <% if @user %>
         <tr><th><center>Please Select From The Menu Above</th></tr>
        <tr><td><img src="images/intro.gif"/></td></tr>
          <% end %>
        <br></br><br></br><br></br><br></br><br></br>
<img src="images/intro.gif"/>
    </table>
</center>
</fieldset>

