
<center>
  <fieldset>
    <legend>Interview Management System</legend>
    <table id="customers">
      <%if @user%>
        <tr><th><center>Please Select From The Menu Above</th></tr>
        <tr><td><%= image_tag("Intro.gif")%></td></tr>
      <%else%>
        <br></br><br></br><br></br><br></br><br></br>
        <%= image_tag("Intro.gif")%>

        </center>

      <%end%>
    </table>
</center>
</fieldset>
